.read-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .read-box {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
  }
  
  .detail-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .detail-row span:first-child {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .back-button,
  .edit-button {
    display: flex;
    align-items: center;
    background-color: #3f51b5;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .back-button:hover,
  .edit-button:hover {
    background-color: #1a237e;
  }
  
  .back-button svg,
  .edit-button svg {
    margin-right: 10px;
    font-size: 18px;
  }
  .read-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .read-box {
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .detail-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .detail-row span:first-child {
    font-weight: bold;
  }
  
  .button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .back-button,
  .edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #422add;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover,
  .edit-button:hover {
    background-color: #4911cc;
  }
  
  .button-icon {
    margin-right: 5px;
  }
  .read-box {
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 600px;
  }
  .homeContainer{
    display: flex;
    width: 100%;

}


.visetor-table-container {
    max-width: 100%;
    overflow-x: auto;
    /* margin: 0 auto; */
    margin-top: 0;
    margin-left: 0;
    margin-right: 20px;
 
    flex: 9.2;
  }