.homeContainer{
    display: flex;
    width: 100%;
    
  
  }
  
  
  .vcontainer {
    flex: 9;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 16px -8px rgba(0,0,0,0.68); 
    box-shadow: 0px 1px 16px -8px rgba(0,0,0,0.68);

    max-width: 100%;
    height: 670px;
    overflow-x: auto;
    /* margin: 0 auto; */
    margin-top: 20px;
    margin-left: 0;
    margin-right: 20px;
  
  } 
  .input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
    display: flex;
  }
  
  .input-field i {
    text-align: center;
    line-height: 55px;
    width: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
    margin-top: 4px;
  }
  
  .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 500;
    font-size: 1.1rem;
    color: #333;
  }
  
  .input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
  }
 
  
  .btn {
    width: 250px;
    background-color: #0b295d;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 10px;
  }
  
  .btn:hover {
    background-color: #4d84e2;
  }

  .filde{
    display: flex;
    
  }

  .fildelable{
    margin-top: 26px;
    margin-right: 0px;
    margin-left: 60px;
    cursor: pointer;
    font-weight: 500;
    width: 200px;

  }
  