.share{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 16px -8px rgba(0,0,0,0.68); 
    box-shadow: 0px 1px 16px -8px rgba(0,0,0,0.68);
}
  

.shareWrapper{
    padding: 10px;
}

.shareTop{
    display: flex;
    align-items: center;
}

.shareProfileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareInput{
    border: none;
    /* width: 100%; */
    width: 400px;
    /* height: 140px; */
}

.shareInput:focus{
    outline: none;
}

.shareHr{
    margin: 20px;
}

.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareOptions{
    display: flex;
    margin-left: 20px;
}

.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;

}

.shareIcon{
    font-size: 18px;
    margin-right: 3px;
}

.shareOptionText{
    font-size: 14px;
    font-weight: 500;
}

.shareButton{
    /* border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: green;
    font-weight: 700;
    margin-right: 20px;
    font-size: 14px;
    cursor: pointer;
    color: white; */
    width: 80px;
    padding: 7px;

    background-color: #0b295d;
    border: none;
    outline: none;
    height: 40px;
    border-radius: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 10px;

}

.shareButton:hover{
    background-image: linear-gradient(+45deg, #252b68 10%, #04befe 100%);

}



.file {
    width: 90px;
    height: 60px;
    object-fit: cover;
    border-radius: 0px;
    
  }



  