
.auth-form-containerr {
    margin-top: 0px;
  padding: 10rem;
  background-color: rgb(59, 39, 78);
  border-radius: 10px;
  margin: 0.5rem;
  
  height: 1000px;
  }
  
  
  .auth-form-containe {
    margin-top: 0px;
  padding: 10rem;
  background-color: rgb(59, 39, 78);
  border-radius: 10px;
  margin: 0.5rem;
  
  height: 650px;
  }
  
  
  .t{
    color: #ffffff;
  }
  
  .input-fields {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 200px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  
  .input-fields i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .input-fields textarea {
    padding-top: 15px;
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }
  
  .input-fields textarea::placeholder {
    color: #aaa;
    font-weight: 500;
  }
  .chatBoxWrapper{
    padding: 10px;
    max-height: 90vh;
    height: 100%;
 }
 
.chatOnlineWrapper{
   padding: 10px;
   max-height: 50vh;
   height:100vh;
   overflow-y: scroll;
 }
 .chatOnline{
  flex: 2.5;
}

.vontainer {
  flex: 4;
  border-radius: 10px;
  /* -webkit-box-shadow: 0px 1px 16px -8px rgba(0,0,0,0.68);  */
  box-shadow: 0px 0px 11px -8px rgba(0,0,0,0.68); 

  max-width: 100%;
  height: 580px;
  overflow-x: auto;
  /* margin: 0 auto; */
  margin-top: 20px;
  margin-left: 0;
  margin-right: 20px;

} 